/* 
Enables compact navigation bar.
*/

#nav-bar {
	height: 38px !important;
}

.titlebar-buttonbox-container {
	left: 0px !important;
	top: 12px !important;
}

#urlbar:not([open]) #urlbar-background {
	margin-top: 1px !important;
	height: 26px !important;
}
